.tax-content{
    display: flex;
    justify-content: space-between;
     flex-wrap: wrap;
    align-items: center;
    margin-top: 1rem;
    /* border: 1px solid red; */
}

.wrapper{
    position: relative;
}

.inside{
    position: absolute;
    right: 8px;
    top: 12%;
}

.wrapper input{
    padding-right: 50px;
}

.field {
    /* border: 1px solid red; */
    padding: 0 0 1.5rem 0;
    min-height: 10px;
    position: relative;
}

.text-danger {
  color: red;
  font-size: 15px;
  position: absolute;
  bottom: 2px;
  left: 0;
}
