.navbar {
    /* border: 1px solid red; */
    position: sticky;
    top: 0;
    z-index: 90;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

.navbar-list {
    /* border: 1px solid red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0.7rem 1rem;
    gap: 1rem;
}

.navbar-item {
    /* border: 1px solid red; */
    list-style: none;
    color: rgb(117, 115, 115);
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

@media (max-width: 768px) {
    .navbar-list {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-item {
        font-size: 14px;
    }
}